#flex-display {
    display: flex;
    flex-wrap: wrap;
}

.animal-card {
    width: 18vw;
    min-width: 200px;
    min-height: 400px;
    height: 60vh;
}
.card-content {
    height: 70%;
    display: flex;
    align-items: flex-end;
}
.card-content-button {
    margin: 0 auto;
}
.animal-card-image {
    position: absolute;
    margin-top: 80px;
}
.transparent-bg {
    background-color: rgba(255,255,255,0.9);
}
.name {
    color: black;
}
.active-tab {
    border-bottom: 1px solid lightgreen;
}