<ion-header>
  <ion-toolbar>
    <ion-title>browsePets</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-progress-bar type='indeterminate' *ngIf='isLoading'></ion-progress-bar>

  <div id='flex-display' *ngIf='this.animals != [] && !isLoading'>
    <ion-card *ngFor='let animal of animals' class='animal-card'>
      <img class='animal-card-image' *ngIf='animal.images && animal.images.length > 0' [src]='animal.images[0]'>
        <ion-card-header class='transparent-bg'>
          <ion-card-subtitle [color]='statusColor(animal.status)'>{{animal.status}}</ion-card-subtitle>
          <ion-card-title>{{animal.name}}</ion-card-title>
        </ion-card-header>
        <ion-card-content class='card-content'>
          <ion-button class='card-content-button' [routerLink]='"/animal/" + animal.id'>View Listing</ion-button>
        </ion-card-content>
    </ion-card>
  </div>
</ion-content>
