<ion-header>
  <ion-toolbar>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Manage Listings</h1>
  <ion-progress-bar type='indeterminate' *ngIf='isLoading'></ion-progress-bar>

  <div id='flex-display' *ngIf='this.animals != [] && !isLoading'>
    <ion-card *ngFor='let animal of animals' class='animal-card'>
      <img class='animal-card-image' *ngIf='animal.images && animal.images.length > 0' [src]='animal.images[0]'>
        <ion-card-header class='transparent-bg'>
          <ion-card-subtitle [color]='statusColor(animal.status)'>{{animal.status}}</ion-card-subtitle>
          <ion-card-title class='name'>{{animal.name}}</ion-card-title>
        </ion-card-header>
        <br><br>
        <ion-card-content class='card-content'>
          <ion-button class='card-content-button' [routerLink]='"/animal/" + animal.id'>View Listing</ion-button>
        </ion-card-content>
    </ion-card>
  </div>
  <div>
  <div class='ion-text-center' *ngIf='this.animals && this.animals.length === 0'>
    <h4>
      You currently have no pet listings. Add a pet to see their listings here!
    </h4>
  </div>
  </div>
</ion-content>
