#title {
    padding-top: 50px;
    font-size: 3em;
    margin: 2.5vh auto;
}

ion-content {
    margin: 3vw;
}

ion-header {
    border-bottom: 10px solid;
}

.dancing {
    font-family: 'Dancing Script', cursive;
}

page-list-friends {
    img {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
}

