#thank-you {
    margin: auto;
    text-align: center;
}
#message {
    margin: auto;
    text-align: center;
}
#text {
    margin: 20vh auto 5vh auto;
    text-align: center;
    max-width: 90%;
}
#buttons {
    margin: 20vh auto 0 auto;
    justify-content: center;
}
#back-button {
    margin-right: 15px;
}
#loading {
    margin: auto;
    text-align: center;
    width: 40px !important;
    height: 40px !important;
}
#loading-div {
    margin: 25% auto 0 auto;
    align-items: center;
    justify-content: center;
    width: max-content;
}