#title {
    font-size: 3em;
    margin: 2.5vh auto;
}

ion-content {
    margin: 3vw;
}

.dancing {
    font-family: 'Dancing Script', cursive;
}

img {
    width: 50vw;
}

#mission {
    margin: 3vw;
}

.indent {
    text-indent: 50px;
}

.removeUnderline {
    text-decoration: none;
}