<ion-header>
  <ion-toolbar>
    <ion-title id="title" class="ion-text-center dancing">About Whisker</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="mission" class="content">
    <p class="ion-text-center">Our mission is to connect animals in need to people who will provide love and care to them.</p>
    <p class="ion-text-center">Our goal is to ensure all animals who need a home can find one, and for people to find the perfect addition to their families.</p>
    <p class="ion-text-center">Through Whisker, these pairings are made possible.</p>
    <p class="indent">A significant number of persons in the United States own pets of some kind. According to the <a href="https://www.americanpetproducts.org/press_industrytrends.asp" class="removeUnderline" target=”_blank”>American Pet Products Association (APPA)</a>, 44% of U.S. households own a dog, and 35% of U.S. households own a cat. Pets can provide unconditional affection to their owners, and owners can give their pets a good life, love, and care. In order for this to happen, however, they must be connected in a way to ensure happiness for both the owner and the pet. Problems remain in today’s pet adoption landscape that prevent every pet from finding a home.</p>
    <p class="indent">Whisker seeks to solve this problem by creating a centralized system to unite providers of pets with people seeking to adopt them. Additionally, Whisker uses an intelligent matching system to better pair people with pets. Adopters can fill out a short questionnaire with their pet preferences, including type of pet, age, size preference, training preference, home environment, etc. Whisker can then match the adopter with compatible pets in the area, posted to the application by shelters and breeders. The application does not seek to take control of the adoption process from providers; rather, it serves as a means to connect both parties together and take the process further.</p>
    <p class="indent">This benefit is two-fold; adopters can easily find pets compatible with them, and pets can be matched with owners who can best take care of them. More pets will be adopted, but also more animals will not be rehomed due to incompatibility. Overall, Whisker has the potential to improve the lives of animals and pet owners around the world.</p>
  </div>
  <h1 class="ion-text-center">Our Team</h1>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-lg="12/5" size-md="4" size-sm="6">
        <ion-card>
          <ion-card-header class="ion-text-center">
            <ion-card-title>Matt Hudson</ion-card-title><br>
            <img src="../../../assets/matt.png">
            <ion-card-subtitle>Front End Developer</ion-card-subtitle>
            <ion-card-subtitle>Back End Developer</ion-card-subtitle>
            <ion-card-subtitle>AWS Architect</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
      
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-lg="12/5" size-md="4" size-sm="6">
        <ion-card>
          <ion-card-header class="ion-text-center">
            <ion-card-title>Sarah McLaughlin</ion-card-title><br>
            <img src="../../../assets/sarah.jpeg">
            <ion-card-subtitle>Front End Developer</ion-card-subtitle>
            <ion-card-subtitle>Middleware Developer</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-lg="12/5" size-md="4" size-sm="6">
        <ion-card>
          <ion-card-header class="ion-text-center">
            <ion-card-title>Michelle Huang</ion-card-title><br>
            <img src="../../../assets/michelle.jpg">
            <ion-card-subtitle>Founder</ion-card-subtitle>
            <ion-card-subtitle>Front End Developer</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-lg="12/5" size-md="4" size-sm="6">
        <ion-card>
          <ion-card-header class="ion-text-center">
            <ion-card-title>Guangzu Li</ion-card-title><br>
            <img src="../../../assets/guangzu.jpeg">
            <ion-card-subtitle>Database Administrator</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-lg="12/5" size-md="4" size-sm="6">
        <ion-card>
          <ion-card-header class="ion-text-center">
            <ion-card-title>Shengfeng Xue</ion-card-title><br>
            <img src="../../../assets/shengfeng.jpeg">
            <ion-card-subtitle>Algorithm Engineer</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <h1 class="ion-text-center">Our Inspiration</h1>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-lg="3" size-md="6">
        <ion-card>
          <ion-card-header class="ion-text-center">
            <ion-card-title>Tristan Hudson</ion-card-title><br>
            <img src="../../../assets/tristan.png">
            <ion-card-subtitle>Adopted from <a href="https://cmhspets.org/" class="removeUnderline" target="_blank">Central Missouri Humane Society</a></ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-lg="3" size-md="6">
        <ion-card>
          <ion-card-header class="ion-text-center">
            <ion-card-title>Moonbeam Hudson</ion-card-title><br>
            <img src="../../../assets/moonbeam.jpeg">
            <ion-card-subtitle>Adopted from <a href="https://papascatcafe.com/" class="removeUnderline" target="_blank">Papa's Cat Café</a> (<a href="https://boonecountyanimalcare.com/" class="removeUnderline" target="_blank">Boone County Animal Care</a>)</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-lg="3" size-md="6">
        <ion-card>
          <ion-card-header class="ion-text-center">
            <ion-card-title>Barry & Bean McLaughlin</ion-card-title><br>
            <img src="../../../assets/barrybean.jpg">
            <ion-card-subtitle>Rescued from Hoarder</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-lg="3" size-md="6">
        <ion-card>
          <ion-card-header class="ion-text-center">
            <ion-card-title>Annie Huang</ion-card-title><br>
            <img src="../../../assets/annie.jpg">
            <ion-card-subtitle>Adopted from <a href="http://columbia2ndchance.org/" class="removeUnderline" target="_blank">Second Chance</a></ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>