<ion-header>
  <ion-toolbar>
    <ion-title>Provider Application</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item>
      <ion-title>Rescue Information</ion-title>
    </ion-item>
    <ion-item>
      <ion-label>Rescue Name</ion-label>
      <ion-input type="text" id="rescue" name="rescue"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Street Address</ion-label>
      <ion-input type="text" id="street" name="street"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>City</ion-label>
      <ion-input type="text" id="city" name="city"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>State</ion-label>
      <ion-input type="text" id="state" name="state"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>ZIP</ion-label>
      <ion-input type="number" id="zip" name="zip"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Country</ion-label>
      <ion-input type="text" id="country" name="country"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Website</ion-label>
      <ion-input type="url" id="website" name="website"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Rescue Email</ion-label>
      <ion-input type="email" id="email" name="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Phone Number</ion-label>
      <ion-input type="tel" id="phone" name="phone"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Available Animals</ion-label>
      <ion-select interface="popover" multiple="true" id="type" name="type">
        <ion-select-option>Cat</ion-select-option>
        <ion-select-option>Dog</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-title>Point of Contact</ion-title>
    </ion-item>
    <ion-item>
      <ion-label>First Name</ion-label>
      <ion-input type="text" id="first" name="first"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Last Name</ion-label>
      <ion-input type="text" id="last" name="last"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Role</ion-label>
      <ion-input type="text" id="role" name="role"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Email</ion-label>
      <ion-input type="email" id="contactEmail" name="contactEmail"></ion-input>
    </ion-item>
  </form>
</ion-content>
