ion-slide >:first-child {
    min-width: 90%;
    max-width: 100%;
}

ion-button {
    margin-bottom: 0;
}

.center-spinner {
    margin: auto;
    width: max-content;
}
.main-content.hidden {
    opacity: 0;
}
.main-content {
    opacity: 1;
    transition: opacity 0.75s;
    margin-top: 10vh;
}
ion-select {
    max-width: 100% !important;
}
#confetti {
    min-width: 300px;
    width: 25vw;
    height: auto;
}