<ion-content id='start-body'>
  <div id='content-box'>
    <h1 id='app-title'>Whisker</h1>
    <h1 id='app-slogan'><em><strong>Pairing People with Pets</strong></em></h1>
  </div>
  <div id='actions-box'>
    <ion-item-group>
      <ion-item lines='none'>
        <ion-button size='medium' class='button ion-text-center' color='light'>Continue with Facebook</ion-button>
      </ion-item>
      <ion-item lines='none'>
        <ion-button size='medium' class='button' color='light'>Continue with Google</ion-button>
      </ion-item>
      <br>
      <ion-item lines='none'>
        <ion-button size='medium' class='button' routerLink='/login'>Login</ion-button>
      </ion-item>
      <ion-item lines='none'>
        <ion-button size='medium' class='button' color='secondary' routerLink='/register'>Register</ion-button>
      </ion-item>

      <ion-item lines='none'>
        <ion-text class='link'>New provider or shelter? <a routerLink='/providerApplication'>Apply to Whisker!</a></ion-text>
      </ion-item>
    </ion-item-group>
  </div>
</ion-content>
