#content-box {
    margin: 5vh auto 0 auto;
    background-color: rgba(226, 166, 75, 0.9);
    width: 60%;
    border-radius: 10px;
    height: max-content;
}
#actions-box {
    position: absolute;
    bottom: 2%;
    left: 20%;
    width: 60%;
    border-radius: 10px;
    height: max-content;
}
#app-title {
    margin: 5vh auto 0 auto;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 5em;
    color: white;
}
#app-slogan {
    margin: 0 auto;
    padding-bottom: 3vh;
    text-align: center;
    font-family: 'PT Serif', serif;
    color: white;
}
#start-body {
    background-image: url('../../../assets/tristan-model.jpg'); // want to replace this with a collage of all our oets
    background-repeat: no-repeat;
    --background: none !important;
    background-size: cover;
}
ion-item {
    --background: none !important;
}
.button {
    margin: auto;
    width: 30vw;
    min-width: 250px;
}
.link {
    margin: auto;
}
.link a {
    color: white;
}