<ion-content>
  <div id='text'>
<ion-text id="thank-you"><h2>Your Whisker Account has been created!</h2></ion-text><br>
<ion-text id="message">We sent you an email to verify your account. Follow the link included in the email to complete your registration.</ion-text>
<ion-buttons id='buttons'>
  <ion-button routerLink="/" id="back-button">
    <ion-icon name="arrow-back-outline" size="large"></ion-icon>
    <span id="back-button-text">Home</span>
  </ion-button>
  <ion-button routerLink="/login" id="login-button">
    <span id="login-button-text">Login</span>
    <ion-icon name="arrow-forward-outline" size="large">
    </ion-icon>
  </ion-button>
</ion-buttons>
</div>
</ion-content>
